version: '3.9'

volumes:
  mariadb:

services:

  rating-backend-application:
    image: rating-backend-docker
    restart: always
    ports:
      - '9000:8080'
    build:
      context: '.'
      dockerfile: 'Dockerfile'
    depends_on:
      - db
  db:
    image: mariadb:10.6
    container_name: mariadb-container
    restart: always
    ports:
     - '3306:3306'
    volumes:
      - mariadb:/var/lib/mysql
      - ./src/main/resources/db_data/:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: root

  phphmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-container
    restart: always
    depends_on:
      - db
    ports:
     - '8000:80'
    environment:
      - PMA_HOST=db



